<div class="h-full flex flex-col items-center bg-muted">
  <section hlmCard class="w-80 mt-10">
    <div hlmCardHeader>
      <h3 hlmCardTitle>We're glad to have you here.</h3>
      <p hlmCardDescription>Please log in to continue.</p>
    </div>

    <p hlmCardContent>
      <img src="https://media1.tenor.com/m/tM6pDOQYblQAAAAC/welcome-back-awesome.gif" alt="">
    </p>

    <p hlmCardContent>
      <label hlmLabel class="block">
        Username
        <input hlmInput class="w-full" />
      </label>

      <label hlmLabel class="block">
        Password
        <input hlmInput class="w-full" type="password" />
      </label>
    </p>

    <div hlmCardFooter class="justify-between">
      <button hlmBtn variant="ghost">Forgot Password?</button>
      <button hlmBtn>Login</button>
    </div>
  </section>
  <button hlmBtn variant='link'>Not a member? Sign Up</button>
</div>