<div class="task-container">
    <button class="logout-button" (click)="logout()">Logout<i class="fa-solid fa-right-from-bracket logoutIcon"></i></button>
    @if (tasks.length>0) {
    <h2>Tasks <i class="fa-solid fa-list-check"></i></h2>
    }

    <h3>Add New Task 
        <i (click)="showHideAddTask()" *ngIf="!isAddTaskExpanded" class="fa-solid fa-square-plus addTaskIcons"></i>
        <i (click)="showHideAddTask()" *ngIf="isAddTaskExpanded"  class="fa-solid fa-square-minus addTaskIcons"></i>
    </h3>
    
    <form *ngIf="isAddTaskExpanded" (submit)="isEditMode ? updateTask() : addTask()" class="task-form">
        <div class="form-group">
            <input type="text" placeholder="Title"
                required />
        </div>
        <div class="form-group">
            <input type="text"
                placeholder="Description" />
        </div>

        <div class="form-group">
            <input type="date"
                placeholder="Due Date" required />
        </div>
        <div class="form-group">
            <select class="form-select"
                id="priority" required>
                <option value="" disabled selected>Select Priority</option>
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
        </div>

        <div class="form-group switch-group">
            <label class="switch">
                <input type="checkbox" id="newTaskCompleted">
                <span class="slider round"></span>
            </label>
            <label for="newTaskCompleted">Completed</label>
        </div>
        <button type="submit">{{ isEditMode ? 'Update' : 'Add' }}</button>
    </form>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>