<div class="h-full flex flex-col items-center bg-muted" *ngrxLet="loginForm$ as loginForm">
  <section hlmCard class="w-80 mt-10">
    <div hlmCardHeader>
      <h3 hlmCardTitle>We're glad to have you here.</h3>
      <p hlmCardDescription>Please log in to continue.</p>
    </div>

    <p hlmCardContent>
      <img src="/assets/images/welcome-back-awesome.gif" alt="">
    </p>

    <p hlmCardContent>
      <label hlmLabel class="block">
        Username
        <input hlmInput #usernameInput class="w-full" (keyup)="onFormChange({ username: usernameInput.value })" />
      </label>

      <label hlmLabel class="block">
        Password
        <input hlmInput #passwordInput class="w-full" type="password"
          (keyup)="onFormChange({ password: passwordInput.value })" />
      </label>
    </p>

    <div hlmCardFooter class="justify-between">
      <button hlmBtn variant="secondary">Forgot Password?</button>

      <button hlmBtn *ngrxLet="loginButtonDisabled$ as loginButtonDisabled" [disabled]="loginButtonDisabled"
        (click)="onLoginClick()">
        Login
      </button>
    </div>
  </section>

  <button hlmBtn variant="link" (click)="onSignupClick()">Not a member? Sign Up</button>
</div>

<app-signup></app-signup>