<hlm-dialog *ngrxLet="dialogOpen$ as dialogOpen" [state]="dialogOpen">
  <hlm-dialog-content *brnDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>Sign Up</h3>
    </hlm-dialog-header>

    <div class="py-4 grid gap-4">
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="signup-username" class="text-right">Username</label>
        <input hlmInput id="signup-username" class="col-span-3" />
      </div>

      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="signup-email" class="text-right">Email</label>
        <input hlmInput id="signup-email" class="col-span-3" />
      </div>

      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="signup-password" class="text-right">Password</label>
        <input hlmInput type="password" id="signup-password" class="col-span-3" />
      </div>
    </div>

    <hlm-dialog-footer class="justify-between">
      <button hlmBtn variant="secondary" (click)="onCloseClick()">Already a member? Login</button>
      <button hlmBtn>Sign Up</button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>
